<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid position-relative">
    <button
      id="hamburgerMenu"
      class="navbar-toggler position-relative top-0 start-50 translate-middle-x mb-2 mt-2"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link mx-2" href="#rolam" (click)="closeMenu()">{{
            translationService.getTranslation("about_me")
          }}</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link mx-2"
            href="#masszazs-tipusok"
            (click)="closeMenu()"
            >{{ translationService.getTranslation("massage_styles") }}</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="#main" (click)="closeMenu()">{{
            translationService.getTranslation("location")
          }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="#main" (click)="closeMenu()">{{
            translationService.getTranslation("contact")
          }}</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ translationService.getTranslation("language") }}
          </a>
          <ul
            class="dropdown-menu language-switcher"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <a
                class="dropdown-item d-flex justify-content-between align-items-center"
                (click)="changeLanguage('hu')"
                >{{ translationService.getTranslation("language_hu")
                }}<img
                  width="20px"
                  height="20px"
                  border="none"
                  src="https://www.svgrepo.com/show/401630/flag-for-hungary.svg"
              /></a>
            </li>
            <li>
              <a
                class="dropdown-item d-flex justify-content-between align-items-center"
                (click)="changeLanguage('en')"
                >{{ translationService.getTranslation("language_eng")
                }}<img
                  width="20px"
                  height="20px"
                  border="none"
                  src="https://www.svgrepo.com/show/401788/flag-for-united-kingdom.svg"
              /></a>
            </li>
            <li>
              <a
                class="dropdown-item d-flex justify-content-between align-items-center"
                (click)="changeLanguage('de')"
                >{{ translationService.getTranslation("language_de")
                }}<img
                  width="20px"
                  height="20px"
                  border="none"
                  src="https://www.svgrepo.com/show/401612/flag-for-germany.svg"
              /></a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
