@import "src/styles.scss";

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Biztosítsd, hogy a navbar mindig felül legyen */
  background: $primary-color;
  transition: background 0.5s ease; /* Átmenet a háttérszín változásra */
}

@media screen and (min-width: 992px) {
  .nav-item {
    line-height: 60px;
    font-size: larger;
  }
}
