@import "src/styles.scss";

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: $primary-color;
}

@media screen and (max-width: 991.98px) {
  .navbar-toggler {
    top: 10px; /* Gombok eltolása a felső margón belül */
  }

  .navbar-collapse {
    position: absolute;
    top: 100%; /* Menü elhelyezése a gomb alatt */
    left: 0;
    right: 0;
    background-color: $primary-color; /* Menü háttérszínének beállítása */
    text-align: center; /* Tartalmak középre igazítása */
  }
}
