<div class="cookie-notice" *ngIf="visible">
  <p>
    {{ translationService.getTranslation("cookie_notice_text") }}
    <a href="https://developers.google.com/learn/cookies" target="_blank">{{
      translationService.getTranslation("cookie_notice_learnmore")
    }}</a
    >.
  </p>
  <div class="pb-3">
    <button (click)="acceptCookies()">
      {{ translationService.getTranslation("cookie_notice_acceptbutton") }}
    </button>
    <div class="pb-3">
      <button (click)="rejectCookies()">
        {{ translationService.getTranslation("cookie_notice_rejectbutton") }}
      </button>
    </div>
    <div class="pb-3">
      <app-cookie-customization-modal
        (click)="setCookies()"
      ></app-cookie-customization-modal>
    </div>
  </div>
</div>
