<section class="bsb-service-6 py-5 py-xl-8">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7">
        <h3 class="fs-6 mb-2 text-secondary text-center text-uppercase">
          {{ translationService.getTranslation("about_me_title_1") }}
        </h3>
        <h2 class="display-5 mb-4 mb-md-5 text-center">
          {{ translationService.getTranslation("about_me_title_2") }}
        </h2>
        <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle" />
        <p class="text-center text-secondary">
          {{ translationService.getTranslation("about_me_text") }}
        </p>
      </div>
    </div>
  </div>
</section>
