<section class="bsb-service-6 py-5 py-xl-8">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7">
        <h3 class="fs-6 mb-5 text-secondary text-center text-uppercase">
          {{ translationService.getTranslation("about_me_title_1") }}
        </h3>
        <h2 class="display-5 mb-4 mb-md-5 text-center">
          {{ translationService.getTranslation("about_me_title_2") }}
        </h2>
        <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle" />
        <p class="text-center text-secondary">
          {{ translationService.getTranslation("about_me_text") }}
        </p>
        <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle" />
        <h3 class="fs-6 mb-5 text-secondary text-center text-uppercase">
          {{
            translationService.getTranslation("when_to_come")
          }}
        </h3>

        <div class="list">
          <ul>
            <li>
              <span>{{
                translationService.getTranslation("when_you_sit_a_lot")
              }}</span>
            </li>
            <li>
              <span>{{
                translationService.getTranslation("if_you_have_rheumatism")
              }}</span
              >
            </li>
            <li>
              <span>{{
                translationService.getTranslation("if_you_have_stressful_lifestyle")
              }}</span
              >
            </li>
            <li><span>{{
              translationService.getTranslation("if_you_have_sedentary_lifestyle")
            }}</span></li>
            
            <li><span>{{
              translationService.getTranslation("if_you_are_active_in_sports_or_physical_work")
            }}</span></li>
            
            <li>
              <span>{{
                translationService.getTranslation("if_you_seek_physical_and_mental_refreshment")
              }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
