<app-header></app-header>

<ng-container *ngIf="isMassagePageActive">
  <router-outlet id="masszazs-page pt-5"></router-outlet>
  <div class="d-flex justify-content-center mb-4 pt-5" id="foglalas">
    <button (click)="navigateBack()" class="btn custom-btn">Back</button>
  </div>
</ng-container>
<app-bootstrap-carousel></app-bootstrap-carousel>
<app-about-me id="rolam"></app-about-me>

<ng-container *ngIf="!isMassagePageActive">
  <app-massage-styles id="masszazs-tipusok"></app-massage-styles>
</ng-container>

<app-main id="main"></app-main>

<app-footer></app-footer>
<app-cookie-notice></app-cookie-notice>
