<ng-container *ngIf="!isAdminPageActive">
  <app-header></app-header>

  <ng-container *ngIf="isMassagePageActive">
    <router-outlet></router-outlet>
  </ng-container>

  <app-bootstrap-carousel></app-bootstrap-carousel>
  <app-about-me id="rolam"></app-about-me>

  <ng-container *ngIf="!isMassagePageActive">
    <app-massage-styles id="masszazs-tipusok"></app-massage-styles>
  </ng-container>

  <app-main id="main"></app-main>

  <app-footer></app-footer>
  <app-border-decor></app-border-decor>
  <app-cookie-notice></app-cookie-notice>

  <ng-container *ngIf="isLoggedIn === false || isLoggedIn === null">
    <app-sign-in></app-sign-in>
  </ng-container>

  <ng-container *ngIf="isLoggedIn === true">
    <button (click)="logout()">Logout</button>
    <button (click)="navigateToUsers()">Users Page</button>
  </ng-container>
</ng-container>

<ng-container *ngIf="isAdminPageActive">
  <router-outlet></router-outlet>
</ng-container>
