<div class="cookie-notice">
  <!-- Button to trigger modal -->
  <button type="button" data-bs-toggle="modal" data-bs-target="#cookieModal">
    {{
      translationService.getTranslation(
        "cookie_customization_setcookies_button"
      )
    }}
  </button>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="cookieModal"
  tabindex="-1"
  aria-labelledby="cookieModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h3 class="modal-title" id="cookieModalLabel">
          {{
            translationService.getTranslation(
              "cookie_customization_policy_center"
            )
          }}
        </h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-description">
        <p>
          {{
            translationService.getTranslation(
              "cookie_customization_policy_description"
            )
          }}
        </p>
        <p>
          <a href="https://example.com/cookie-policy" target="_blank">
            {{
              translationService.getTranslation(
                "cookie_customization_Learn_more_about_cookie_policy"
              )
            }}
          </a>
        </p>

        <!-- Strictly Necessary Cookies -->
        <div class="mb-3 d-flex justify-content-between align-items-center">
          <div>
            <h5 class="text-start">
              {{
                translationService.getTranslation(
                  "cookie_customization_stictly_necessary_cookies_title"
                )
              }}
            </h5>
            <h5
              class="text-start-other"
              type="button"
              (click)="toggleDetails('necessary')"
            >
              {{
                showDetails.necessary
                  ? translationService.getTranslation("hide")
                  : translationService.getTranslation("show")
              }}
            </h5>
          </div>
          <div class="form-check form-switch">
            <input
              type="checkbox"
              class="switch"
              id="necessaryCheckbox"
              [checked]="true"
              disabled
            />
            <label class="form-check-label" for="necessaryCheckbox"> </label>
          </div>
        </div>
        <div
          class="cookie-description text-start-other"
          *ngIf="showDetails.necessary"
        >
          <p>
            {{
              translationService.getTranslation(
                "cookie_customization_stictly_necessary_cookies_text"
              )
            }}
          </p>
        </div>

        <!-- Functional Cookies -->
        <div class="mb-3 d-flex justify-content-between align-items-center">
          <div>
            <h5 class="text-start">
              {{
                translationService.getTranslation(
                  "cookie_customization_functional_cookies_title"
                )
              }}
            </h5>
            <h5
              class="text-start-other"
              type="button"
              (click)="toggleDetails('functional')"
            >
              {{
                showDetails.functional
                  ? translationService.getTranslation("hide")
                  : translationService.getTranslation("show")
              }}
            </h5>
          </div>
          <div class="form-check form-switch">
            <input
              type="checkbox"
              class="switch"
              id="functionalCheckbox"
              [checked]="cookieForm.get('functional')?.value"
              (change)="onCheckboxChange('functional', $event)"
            />
            <label class="form-check-label" for="functionalCheckbox"> </label>
          </div>
        </div>
        <div
          class="cookie-description text-start-other"
          *ngIf="showDetails.functional"
        >
          <p>
            {{
              translationService.getTranslation(
                "cookie_customization_functional_cookies_text"
              )
            }}
          </p>
        </div>

        <!-- Statistics Cookies -->
        <div class="mb-3 d-flex justify-content-between align-items-center">
          <div>
            <h5 class="text-start">
              {{
                translationService.getTranslation(
                  "cookie_customization_statistics_cookies_title"
                )
              }}
            </h5>
            <h5
              class="text-start-other"
              type="button"
              (click)="toggleDetails('statistics')"
            >
              {{
                showDetails.statistics
                  ? translationService.getTranslation("hide")
                  : translationService.getTranslation("show")
              }}
            </h5>
          </div>
          <div class="form-check form-switch">
            <input
              type="checkbox"
              class="switch"
              id="statisticsCheckbox"
              [checked]="cookieForm.get('statistics')?.value"
              (change)="onCheckboxChange('statistics', $event)"
            />
            <label class="form-check-label" for="statisticsCheckbox"> </label>
          </div>
        </div>
        <div
          class="cookie-description text-start-other"
          *ngIf="showDetails.statistics"
        >
          <p>
            {{
              translationService.getTranslation(
                "cookie_customization_statistics_cookies_text"
              )
            }}
          </p>
        </div>

        <!-- Marketing Cookies -->
        <div class="mb-3 d-flex justify-content-between align-items-center">
          <div>
            <h5 class="text-start">
              {{
                translationService.getTranslation(
                  "cookie_customization_marketing_cookies_title"
                )
              }}
            </h5>
            <h5
              class="text-start-other"
              type="button"
              (click)="toggleDetails('marketing')"
            >
              {{
                showDetails.marketing
                  ? translationService.getTranslation("hide")
                  : translationService.getTranslation("show")
              }}
            </h5>
          </div>
          <div class="form-check form-switch">
            <input
              type="checkbox"
              class="switch"
              id="marketingCheckbox"
              [checked]="cookieForm.get('marketing')?.value"
              (change)="onCheckboxChange('marketing', $event)"
            />
            <label class="form-check-label" for="marketingCheckbox"> </label>
          </div>
        </div>
        <div
          class="cookie-description text-start-other"
          *ngIf="showDetails.marketing"
        >
          <p>
            {{
              translationService.getTranslation(
                "cookie_customization_marketing_cookies_text"
              )
            }}
          </p>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">
          {{ translationService.getTranslation("close_button") }}
        </button>
        <button
          type="button"
          class="btn btn-success"
          data-bs-dismiss="modal"
          (click)="savePreferences()"
        >
          {{ translationService.getTranslation("save_button") }}
        </button>
      </div>
    </div>
  </div>
</div>
