@import "src/styles.scss";

.modal-content {
  background-color: #f8f9fa; 
  border-radius: 10px; 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.modal-header {
  border-bottom: none;
}

.modal-title {
  color: #343a40; 
}

.modal-body {
  color: #6c757d;
}

.modal-footer {
  border-top: none; 
}

.form-check-input {
  margin-top: 0.2rem; 
}

.cookie-description {
  margin-top: 0.2rem; 
  color: #6c757d; 
  font-size: 0.875rem; 
}

.switch {
  display: none;
}

.switch + .form-check-label {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  cursor: pointer;
  padding-left: 40px;
}

.switch + .form-check-label::before,
.switch + .form-check-label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.switch + .form-check-label::before {
  width: 36px;
  height: 20px;
  background-color: #ccc;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.switch + .form-check-label::after {
  width: 14px;
  height: 14px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  transition: left 0.3s, background-color 0.3s;
}

.switch:checked + .form-check-label::before {
  background-color: #9fd6ae;
}

.switch:checked + .form-check-label::after {
  left: 18px;
}

.text-start {
  text-align: left !important;
  font-size: 1.3rem;
  font-weight: bold;
}

.text-description {
  text-align: justify !important;
  font-size: 1rem;
}

.text-start-other {
  text-align: left !important;
  font-size: 1rem;
}

.cookie-notice button {
  padding: 5px 10px;
}
