.decor-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* Teljes szélesség a viewport szélességéhez */
  height: 100vh; /* Teljes magasság a viewport magasságához */
  display: flex;
  justify-content: space-between; /* Terjeszti a gyerekeket a bal és jobb oldalra */
  pointer-events: none; /* Elkerüli, hogy az elem kattintható legyen */
  z-index: 1; /* Az elem rétegsorrendje, hogy a tartalom fölött legyen */
}

.left-decor,
.right-decor {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 540px; /* Kép szélessége */
  height: 100%; /* Kitölti a teljes magasságot */
  background-size: cover; /* Kitölti a rendelkezésre álló helyet a képarány megőrzésével */
  background-repeat: repeat;
}

.left-decor {
  left: -100px; /* Bal oldal */
  background-image: url("/assets/bambooleft.png");
}

.right-decor {
  right: -100px; /* Jobb oldal */
  background-image: url("/assets/bambooright.png");
}

/* Tablet nézet - 1024px szélesség alatt */
@media (max-width: 1024px) {
  .left-decor,
  .right-decor {
    display: none; /* Elrejti a dekor elemeket tablet nézettől kezdve */
  }
}
