@mixin hover-color($base-color) {
  color: darken($base-color, 10%);
  &:hover {
    color: lighten($base-color, 10%);
  }
}

@mixin hover-filter($base-filter) {
  filter: brightness($base-filter);
  &:hover {
    filter: brightness($base-filter + 0.2);
  }
}

// @font-face {
//   font-family: "Audrey";
//   src: url("assets\Fonts\Audrey 1.0\Audrey-Normal.woff2") format("woff2");
// sacramento font
//   font-optical-sizing: auto;
//   font-weight: 500;
//   font-style: normal;
// }

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

$primary-color: #3e4f3c;
$secondary-color: #ecaa93;
$tertiary-color: wheat;

* {
  font-family: "Quicksand"; /* Globális használat beállítása */
}
