@import "src/styles.scss";
* {
  justify-content: center;
}


@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn-booking {
  position: relative;
  cursor: pointer;
  margin: 10px 15px; // Csökkentett margó a jobb reszponzivitás érdekében
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  border: none;
  padding: 14px;
  background: $secondary-color;
  color: $primary-color;
  text-transform: uppercase;
  transition: all 0.3s; // Áttűnési hatás a hover állapothoz
  text-align: center;

  &:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: -5px;
    left: -5px;
    border-top: 3px solid $secondary-color;
    border-left: 3px solid $secondary-color;
    transition: all 0.5s;
  }

  &:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: -5px;
    right: -5px;
    border-bottom: 3px solid $secondary-color;
    border-right: 3px solid $secondary-color;
    transition: all 0.5s;
  }

  &:hover:before,
  &:hover:after {
    height: 100%;
    width: 100%;
  }
}

// További stílusok a reszponzivitás biztosításához
@media (max-width: 768px) {
  .btn-booking {
    padding: 12px 24px;
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .btn-booking {
    padding: 10px 20px;
    font-size: 12px;
  }
}

.services-cards {
  background-color: $primary-color;

  .card {
    cursor: pointer;

    opacity: 0; // Kezdetben nem látható
    width: 90%; // Csökkentett szélesség
    height: 100%; // Egységes magasság
    transition: opacity 0.5s ease, transform 0.3s ease-in-out,
      box-shadow 0.3s ease-in-out;

    @keyframes showCard {
      to {
        opacity: 1; // A 0.3 másodperc elteltével az elem megjelenik
      }
    }

    animation: showCard 0.3s 0.3s forwards; // Animáció alkalmazása

    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: color 0.3s ease-in-out;
      @include hover-color($secondary-color);

      img {
        transition: filter 0.3s ease-in-out;
        border-radius: 2%;
        @include hover-filter(1); // Alapértelmezett fényerő és hover hatás
      }

      h3 {
        transition: color 0.3s ease-in-out;
        @include hover-color($secondary-color);
      }

      p {
        transition: color 0.3s ease-in-out;
        &:hover {
          color: $secondary-color;
        }
      }

      a {
        transition: color 0.3s ease-in-out;
        @include hover-color($secondary-color);

        svg {
          transition: transform 0.3s ease-in-out;
          &:hover {
            transform: translateX(5px);
          }
        }
      }
    }
  }

  .custom-card {
    border: 2px solid $secondary-color; /* Szürke színű, vastagabb keret */
    border-radius: 10px; /* Lekerekített sarkok */
  }

  .custom-link {
    color: $secondary-color; /* Szürke színű link */
    &:hover {
      color: $secondary-color; /* Sötétebb szürke hover esetén */
    }
  }
}
