<section *ngIf="selectedMassagePage" class="massage-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <img
          [src]="selectedMassagePage.imgSrcArticle"
          class="img-fluid mb-4 article-image"
          [alt]="selectedMassagePage.title + ' Image'"
        />
      </div>
      <div class="col-lg-6">
        <h2 class="h1 article-title">{{ selectedMassagePage.title }}</h2>
        <p class="lead article-description">
          {{ selectedMassagePage.descriptionLong }}
        </p>
        <h2 class="article-price">{{ selectedPrice }}</h2>
        <div class="btn-group mb-4">
          <button
            class="btn"
            [ngClass]="{ selected: selectedDuration === '30min' }"
            (click)="updatePrice('30min')"
          >
            {{ selectedMassagePage.title30min }}
          </button>
          <button
            class="btn"
            [ngClass]="{ selected: selectedDuration === '1hr' }"
            (click)="updatePrice('1hr')"
          >
            {{ selectedMassagePage.title1hr }}
          </button>
          <button
            class="btn"
            [ngClass]="{ selected: selectedDuration === '1.5hr' }"
            (click)="updatePrice('1.5hr')"
          >
            {{ selectedMassagePage.title15hr }}
          </button>
        </div>
        <div>
          <button class="btn">
            <script
              id="setmore_script"
              type="text/javascript"
              src="https://storage.googleapis.com/fullintegration-live/webComponentAppListing/Container/setmoreIframeLive.js"
            ></script>
            <a
              target="_blank"
              style="float: none"
              id="Setmore_button_iframe"
              href="https://booking.setmore.com/scheduleappointment/e23a8bff-18d2-41ef-8817-500cdac23109"
              ><img
                width="50px"
                height="50px"
                border="none"
                src="https://www.svgrepo.com/show/513273/book-opened.svg"
                alt="Book an appointment with Zoltán Szabó using Setmore"
              />
            </a>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
