<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4 shadow w-100" style="max-width: 800px">
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-5 mb-2 mb-md-0">
          <input
            type="text"
            class="form-control"
            placeholder="Search by name"
            [(ngModel)]="searchName"
            (ngModelChange)="applyFilters()"
          />
        </div>
        <div class="col-md-5 mb-2 mb-md-0">
          <input
            type="text"
            class="form-control"
            placeholder="Search by email"
            [(ngModel)]="searchEmail"
            (ngModelChange)="applyFilters()"
          />
        </div>
        <div class="col-md-2 text-md-end">
          <button class="btn btn-success w-100" (click)="exportToExcel()">
            Export to Excel
          </button>
        </div>
      </div>

      <table class="table table-dark table-hover">
        <thead>
          <tr>
            <th scope="col" (click)="sortBy('index')">#</th>
            <th scope="col" (click)="sortBy('name')">Name</th>
            <th scope="col" (click)="sortBy('email')">Email</th>
            <th scope="col">Select/Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of paginatedUsers; index as i">
            <th scope="row">{{ i + 1 + (currentPage - 1) * pageSize }}</th>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>
              <button class="btn btn-light" (click)="onSelect(user.id)">
                Select
              </button>
              <button
                *ngIf="user.id"
                class="btn btn-danger ms-3"
                (click)="onDelete(user.id)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex justify-content-between">
        <button
          class="btn btn-primary"
          [disabled]="currentPage === 1"
          (click)="previousPage()"
        >
          Previous
        </button>
        <span>Page {{ currentPage }} of {{ totalPages }}</span>
        <button
          class="btn btn-primary"
          [disabled]="currentPage === totalPages"
          (click)="nextPage()"
        >
          Next
        </button>
      </div>
    </div>
  </div>
</div>
